@charset "UTF-8";
.chat {
  padding-bottom: 10px; }
  .chat .widget-content {
    padding-right: 20px;
    background-color: white; }
    .chat .widget-content ul {
      list-style: none;
      padding: 0; }
      .chat .widget-content ul li {
        margin-bottom: 14px;
        padding-left: 40px;
        padding-right: 80px;
        position: relative; }
        .chat .widget-content ul li:last-child {
          margin-bottom: 0; }
        .chat .widget-content ul li .bubble {
          padding: 12px 15px;
          background: #e5e5ea;
          border-radius: 15px;
          position: relative; }
          .chat .widget-content ul li .bubble:after {
            content: "";
            position: absolute;
            top: 0;
            left: -5px;
            background: url("chat-left.png") left top no-repeat;
            width: 13px;
            height: 13px;
            display: block; }
            @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
              .chat .widget-content ul li .bubble:after {
                background-image: url("chat-left-big.png");
                background-size: 13px 13px; } }
          .chat .widget-content ul li .bubble .user-name {
            font-size: 1.1em;
            margin-bottom: 8px;
            display: inline-block; }
          .chat .widget-content ul li .bubble p.message {
            font-size: 0.95em;
            margin-bottom: 12px;
            color: #333333; }
          .chat .widget-content ul li .bubble .time {
            font-size: 0.8em;
            color: #888888;
            margin-bottom: 0; }
  .chat .post-message {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 8px 60px 8px 8px;
    background: #f2f2f2;
    border-top: 1px solid #cccccc; }
    .chat .post-message input[type="text"] {
      width: 100%;
      height: 100%; }
    .chat .post-message input[type="submit"] {
      position: absolute;
      top: 22px;
      right: 10px;
      margin: 0;
      border: 0;
      background: transparent;
      color: #007aff;
      font-weight: 600;
      font-size: 14px; }
